ALLOWED_ORIGINS=https://agent-zero.foo-bar.ts.net
API_KEY_A0_VENICE=sk-a0-...
API_KEY_OPENROUTER=sk-or-v1-...
A0_SET_chat_model_provider=a0_venice
A0_SET_chat_model_name=gemini-3-pro-preview
A0_SET_util_model_provider=a0_venice
A0_SET_util_model_name=gemini-3-pro-preview
A0_SET_browser_model_provider=a0_venice
A0_SET_browser_model_name=gemini-3-pro-preview
AUTH_LOGIN=...
AUTH_PASSWORD=...
