.*~
/a0/usr
/archive/
/.aws/
/.bash*
!/.bashrc
/.bun/
/.cache/
/.cdk/
/.claude*
/.config/
/.devcontainer/.*Marker
/dotfiles/
/.dotnet/
**/.env
/.gemini
/git/
/.gitconfig
/.gnupg/
/.java/
/.keychain/
/.kilocode/
/.lesshst
/.local/
/.npm/
/.nvm/
/.oh-my-zsh/
/.profile
/.ssh/
/tmp/
/.tmux/resurrect
/.var/
/.vimbackup/
/.viminfo
/.vimswap/
/.vimundo/
/.vimviews/
/.vscode*/
/.wget-hsts
/.zcompdump*
/.zsh_history*
/.zshenv-*
/.zprofile
