.*~
.aws/
.bash*
.cache/
.claude*
.config/
.devcontainer/.*Marker
dotfiles/
.dotnet/
.gitconfig
.gnupg/
.java/
.keychain/
.lesshst
.local/
.npm/
.oh-my-zsh/
.profile
.ssh/
tmp/
.tmux/resurrect
.var/
.vimbackup/
.viminfo
.vimswap/
.vimundo/
.vimviews/
.vscode*/
.wget-hsts
.zcompdump*
.zsh_history*
.zprofile
